[submodule "lua54"]
	path = lua54
	url = https://github.com/luacmake/lua.git
[submodule "lua53"]
	path = lua53
	url = https://github.com/luacmake/lua.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "luazip"]
	path = luazip
	url = https://github.com/mpeterv/luazip.git
[submodule "zziplib"]
	path = zziplib
	url = https://github.com/gdraheim/zziplib.git
[submodule "olua"]
	path = olua
	url = https://github.com/zhongfq/olua.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "luaexpat"]
	path = luaexpat
	url = https://github.com/LuaDist/luaexpat.git
